*{
  margin: 0;
  padding: 0;
}
.bg-color{
  background: rgb(247, 222, 251);
  background: linear-gradient(360deg, rgb(254, 245, 255) 0%, rgb(221, 163, 252) 100%);
}
/* Additional custom styles if necessary */
.navbar-nav .nav-link {
  margin-right: 15px; /* Adjust the value as needed */
}
.carousel-text{
  color: #2F2B78;
}
.seperation {
  height: 7px;
  background-color: rgb(46 44 44);
}
.first{
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  color: black;

  justify-content: center;
  align-items: center;
}
.secimg img{
  width: 455px;
  position: relative;
  z-index: 10;
}
.secimg{
  position: relative;
  margin: 30px;
}
section.first > div{
  display: flex;
  flex-direction: column;
  padding: 34px 0px; 
}
section.first > div :nth-child(1){
  font-weight: bolder;
  font-size: 48px;
}
section.first > div :nth-child(2){
  font-size: 24px;
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

footer {
  width: 100%;
}
.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.about {
  text-align: center;
}

.intro-text {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.about-content {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.about-img {
  flex: 1;
  margin-right: 20px;
}

.about-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-text {
  flex: 2;
  text-align: left;
}

.about-text h2 {
  margin-top: 20px;
  font-size: 1.5em;
}

.about-text p {
  margin: 10px 0;
  line-height: 1.6;
}

.about-text ul {
  margin: 10px 0;
  padding-left: 20px;
}

.about-text ul li {
  margin: 5px 0;
}

strong {
  font-weight: bold;
}

.btn-pink:hover {
  background-color: #ff69b4;
  border-color: #ff69b4;
  color: white;
}

.btn-pink:hover {
  background-color: #ff85c1;
  border-color: #ff85c1;
}
.right_conatct_social_icon{
  background: linear-gradient(to top right, #1325e8 -5%, #8f10b7 100%);
}
.contact_us{
 background-color: #f1f1f1;
 padding: 120px 0px;
}

.contact_inner{
 background-color: #ffffff;
 position: relative;
 box-shadow: 20px 22px 44px #cccccccc;
 border-radius: 25px;
}
.contact_field{
 padding: 60px 340px 90px 100px;
}
.right_conatct_social_icon{
 height: 100%;
}

.contact_field h3{
color: #000;
 font-size: 40px;
 letter-spacing: 1px;
 font-weight: 600;
 margin-bottom: 10px
}
.contact_field p{
 color: #000;
 font-size: 13px;
 font-weight: 400;
 letter-spacing: 1px;
 margin-bottom: 35px;
}
.contact_field .form-control{
 border-radius: 0px;
 border: none;
 border-bottom: 1px solid #cccccc;
}
.contact_field .form-control:focus{
 box-shadow: none;
 outline: none;
 border-bottom: 2px solid #e813c5;
}
.contact_field .form-control::placeholder{
 font-size: 13px;
 letter-spacing: 1px;
}

.contact_info_sec {
 position: absolute;
 background-color: #2d2d2d;
 right: 1px;
 top: 18%;
 height: 340px;
 width: 340px;
 padding: 40px;
 border-radius: 25px 0 0 25px;
}
.contact_info_sec h4{
 letter-spacing: 1px;
 padding-bottom: 15px;
}

.info_single{
 margin: 30px 0px;
}
.info_single i{
 margin-right: 15px;
}
.info_single span{
 font-size: 14px;
 letter-spacing: 1px;
}

button.contact_form_submit {
 background: linear-gradient(to top right, #cf13e8 -5%, #8f10b7 100%);
 border: none;
 color: #fff;
 padding: 10px 15px;
 width: 100%;
 margin-top: 25px;
 border-radius: 35px;
 cursor: pointer;
 font-size: 14px;
 letter-spacing: 2px;
}
.socil_item_inner li{
 list-style: none;
}
.socil_item_inner li a{
 color: #fff;
 margin: 0px 15px;
 font-size: 14px;
}
.socil_item_inner{
 padding-bottom: 10px;
}

.map_sec{
 padding: 50px 0px;
}
.map_inner h4, .map_inner p{
 color: #000;
 text-align: center
}
.map_inner p{
 font-size: 13px;
}
.map_bind{
margin-top: 50px;
 border-radius: 30px;
 overflow: hidden;
}
